<nav>
    <div class="site-title">
        <a href = '/'><h1>Ashgr Blog</h1></a>
        <p>Welcome to My Website</p>
    </div>
    <ul>
        <li class ='navbut'><a href = '/' class = >Blogs</a></li>
        <li class ='navbut'><a href = '/about'>About</a></li>
        <li class ='navbut'><a href = '/blogs/create'>New Blog</a></li>
        <li class ='navbut'><a href = '/login' class = >Login</a></li>
        <li class ='navbut'><a href = '/register' class = >Register</a></li>
    </ul>
</nav>