<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>

</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="404-content">
        <p>Error 404 poge not found !!</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>