<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about-content">
        <p>I'am Abdalrahman Al-Ashgr , 3rd year Computer Science Student.</p>
        <br>
        <p>Am NodeJs Developer and also have a passion in Competitive Programming</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>