<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset = 'utf-8'>
    <title>Competetive Programming</title>
    <style>
        body{
            background-color: rgb(37, 192, 197);
        }
        .subject{
            text-align: center;
        }
        .myform{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class = 'subject'>Competetive Programming Survey</h1>
    <a href = 'index'>Home</a>
    <a href = 'about'>About</a>
    <form method="POST" action="" class = 'myform'>
        <label><strong>Full Name</strong></label>
        <input type = 'text' required placeholder ='eg. Abdalrahman Al-Ashgr' name = 'name'>
        <label><strong>Birth Date</strong></label>
        <input type = 'date' required value = 'bdate'>
        <label><strong>User name</strong></label>
        <input type = 'name' required placeholder = 'AshTheCannibal' name = 'user'>
        <br><br>
        <label><strong>Password</strong></label>
        <input type = 'password' required name = 'password'>
        <label><strong>Confirm Password</strong></label>
        <input type = 'password' required name = 'passconfirm'>
        <h3>Favourite Programming Language: </section>
        <br><br>
        <input type = 'checkbox' id = 'cpp' name = 'cpp'>
        <label for = 'cpp'>C++</label>
        <input type = 'checkbox' id = 'py' name = 'Python'>
        <label for = 'py'>Python</label>
        <input type = 'checkbox' id = 'php' name = 'php'>
        <label for = 'php'>PHP</label>
        <input type = 'checkbox' id = 'java' name = 'java'>
        <label for = 'java'>Java</label>
        <input type = 'checkbox' id = 'cs'name = 'c#'>
        <label for = 'cs'>C#</label>
        <br><br>
        <label>If you have any past experience in Competetive Programming, write it here: </label>
        <br><br>
        <textarea name="subject" cols="40" rows="10" placeholder="ICPC ,CodeJam , HASHcode , etc..."></textarea>
        <br><br>
        <input type = 'checkbox' required id = 'haha'>
        <label for = 'haha'>I Agree to the <a href = 'sdkjsdfh'>Privacy & Terms</a> of Google that help bla bla bla</label>
        <br><br>
        <input type = 'submit' value = 'Submit'>
        
    </form>
</body>
</html>